@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #edecf1;
}

.container {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  color: #304558;
}
